@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.header{
    height: 800px;
    background-image: url(../img/slider.jpg);
}
.header .logo{
    margin-left: 98px;
    margin-top: 63px;
}
.menu{
    float: right;
    margin-top: 55px;
    margin-right: 196px;
}
.menu li{
    float: left;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    display: block;
    padding: 0px 14px;
}
.menu li a:hover{
    color:  #212121;
    border-bottom: 2px solid black;
}
.text{
    width: 490px;
    margin-left: 98px;
    margin-top: 280px;
}
.text h3{
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 2px;
}
.text h1{
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    margin-bottom: 15px;
    letter-spacing: -4px;
    word-spacing: 10px;
}
.text p{
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 28px;
    letter-spacing: -0.1px;
}
.text a{
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 180px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 32px;
}
.text a:hover{
    background:  #ffffff url("../img/arrow.png") no-repeat 173px 16px;
}
.block1{
    height: 609px;
    background-color: white;
}
.adv-block{
    margin: 0 auto;
    width: 1200px;
    padding-top: 110px;
}
.choose-adv{
    float: left;
    margin-bottom: 50px;
    margin-left: 15px;
}
.choose-adv li{
    float: left;
    list-style-type: none;
}
.choose-adv li a{
    color: #6c6c6c;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
    padding: 0 9px;
    float: left;
    letter-spacing: 1.5px;
}
.choose-adv li .active{
    color:  #212121;
    border-bottom: 5px solid #212121;
}
.choose-adv li a:hover{
    color: #212121;
    border-bottom: 5px solid #212121;
}
.text-explore{
    width: 163px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background: #ffffff url(../img/arrow.png) no-repeat 150px 5px;
}
.product-list{
    clear: both;
}
.products{
    display: inline-block;
    width: 270px;
    height: 270px;
    margin: 0 13px;
    vertical-align: middle;
}
.product1{
    text-align: center;
    background-image: url("../img/products/product-1.jpg");
    text-decoration: none;
}
.product1-button{
    width: 56px;
    height: 56px;
    background: url("../img/small-button.png") no-repeat;
}
.product1-title{
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.product1-text{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}
.product2{
    background-image: url("../img/products/product-2.jpg");
}
.product3{
    background-image: url("../img/products/product-3.jpg");
}
.product4{
    background-image: url("../img/products/product-4.jpg");
}
.transparent{
    background-color: rgba(0, 120, 201, 0.7);
}
.block2{
    height: 683px;
}
.blocks2{
    width: 683px;
    height: 683px;
    float: left;
}
.block2-box1{
    background: url("../img/promo-img1.jpg");
}
.block2-box2{
    background: url("../img/promo-img2.jpg");
}
.block2-text{
    margin-left: 51px;
    margin-top: 225px;
}
.block2-text a{
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 180px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 32px;
    margin-top: 22px;
}
.block2-text a:hover{
    background:  #ffffff url("../img/arrow.png") no-repeat 173px 16px;
}
.block2-text h3{
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}
.block2-text h1{
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}
.block2-text p{
    color:  #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
}
.block-trending{
    width: 1170px;
    margin: 118px auto 0 auto;
}
.block3-products{
    width: 370px;
    height: 370px;
    display: inline-block;
    clear: both;
    margin-right: 25px;
    margin-top: 25px;
}
.block3-products:nth-child(3n){
    margin-right: 0;
}
.block3-product-list{
    clear: both;
    display: block;
    padding-bottom: 120px;
}
.block3-product1{
    background: url("../img/products/product-11.jpg");
}
.block3-product2{
    background: url("../img/products/product-21.jpg");
}
.block3-product3{
    background: url("../img/products/product-31.jpg");
}
.block3-product4{
    background: url("../img/products/product-41.jpg");
}
.block3-product5{
    background: url("../img/products/product-5.jpg");
}
.block3-product6{
    background: url("../img/products/product-6.jpg");
}
.block-trending h1{
    float: left;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
.block3-text-explore{
    width: 175px;
    float: right;
    margin-top: 15px;
    margin-bottom: 68px;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2.5px;
    background: #ffffff url(../img/arrow.png) no-repeat 166px 5px;
}
.block4{
    height: 800px;
    background: url("../img/slider2.jpg");
}
.block4-text{
    padding-top: 265px;
    padding-left: 98px;
}
.block4-text a{
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 180px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 32px;
    margin-top: 30px;
}
.block4-text a:hover{
    background:  #ffffff url("../img/arrow.png") no-repeat 173px 16px;
}
.block4-text h3{
    color:  #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.block4-text h1{
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    margin-bottom: 10px;
}
.block4-text p{
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}