*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.header{
    height: 800px;
    background-image: url(../img/slider.jpg);
}
.header .logo{
    margin-left: 98px;
    margin-top: 63px;
}
.menu{
    float: right;
    margin-top: 67px;
    margin-right: 211px;
}
.menu li{
    float: left;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    display: block;
    padding: 0 20px;
}
.menu li a:hover{
    color:  #212121;
    border-bottom: 1px solid black;
}